<body>
  <!-- Navbar -->
    <footer id="footer">
      <img class="logoPic" src="/images/logo.jpg" alt="">
      <p class="footerText">(612) 391-4220</p>
      <p class="footerText">f1tness@gmail.com</p>
      <i class="social-icons fa-brands fa-twitter"></i>
      <i class="social-icons fa-brands fa-facebook-f"></i>
      <i class="social-icons fa-brands fa-instagram"></i>
      <p class="footerText">©Copyright F1tness 2023</p>
    </footer>
</body>
